.single__post {
  border-bottom: 1px solid #ddd;
  padding: 2em;
  display: flex;
  gap: 2.35em;
  position: relative;
}

h3.user__name {
  margin-bottom: 0.25em;
  font-size: 1.55rem;
  color: #444;
}

.content {
  margin-bottom: 1.125em;
}
.delete__icon {
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.content__wrapper {
  flex-basis: 100%;
}

.delete__icon:hover {
  background: #ededed;
}
